{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Aginod Outdoor Shop
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    {% block extra_css %}

    {% endblock %}
  </head>
  <body>
    <header class="top-navbar">
      <div class="navbar-left">
        <span id="toggle-btn" class="toggle-btn">☰</span>
        <h2>INVENTORY</h2>
      </div>
      <div>Hello</div>
    </header>

    <div class="app-container">
      <aside class="sidebar" id="sidebar">
        <ul class="sidebar-menu">
          <li class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
            <a href="{% url 'dashboard' %}">💻 <span>Dashboard</span></a>
          </li>

          <li class="{% if request.resolver_match.url_name == 'pos_home' %}active{% endif %}">
            <a href="{% url 'sales:pos_home' %}">🛒 <span>POS Terminal</span></a>
          </li>

          <li class="{% if request.resolver_match.url_name == 'order_history' %}active{% endif %}">
            <a href="{% url 'sales:order_history' %}">🛒 <span>Orders History</span></a>
          </li>

          <li class="{% if request.resolver_match.url_name == 'listings' %}active{% endif %}">
            <a href="{% url 'listings' %}">👥 <span>Catalog / Products</span></a>
          </li>

          <li class="{% if request.resolver_match.url_name == 'units' %}active{% endif %}">
            <a href="{% url 'units' %}">👥 <span>Units / Inventory</span></a>
          </li>

          <li class="{% if request.resolver_match.url_name == 'category' %}active{% endif %}">
            <a href="{% url 'category' %}">👥 <span>Category</span></a>
          </li>

          <li class="{% if request.resolver_match.url_name == 'activity' %}active{% endif %}">
            <a href="{% url 'activity' %}">👥 <span>Activity</span></a>
          </li>

          <li class="{% if request.resolver_match.url_name == 'ledger' %}active{% endif %}">
            <a href="{% url 'ledger' %}">📄 <span>Ledger</span></a>
          </li>

          <li class="logout-item">
            <form id="logout-form" action="{% url 'staff_logout' %}" method="POST" style="display: none">
              {% csrf_token %}
            </form>
            <a href="javascript:void(0)" onclick="document.getElementById('logout-form').submit()"><span>🚪</span> <span>Logout</span></a>
          </li>
        </ul>
      </aside>

      <div class="main-wrapper">
        <main class="content">
          {% block content %}

          {% endblock %}
        </main>
      </div>
    </div>

    <script src="{% static 'inventory/js/sidebar.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    {% block extra_js %}

    {% endblock %}
  </body>
</html>
